[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/what"]
	path = lib/what
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts@v3.3.0"]
	path = lib/openzeppelin-contracts@v3.3.0
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts@3.3.0"]
	path = lib/openzeppelin-contracts@3.3.0
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "lib/openzeppelin-contracts@v4.7.3"]
	path = lib/openzeppelin-contracts@v4.7.3
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/foundry-huff"]
	path = lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
